.room-list {
    list-style: none;
    padding: 0;
  }
  
  .room-item {
    margin-bottom: 10px;
  }
  
  .room-link {
    text-decoration: none;
    color: #333; /* Example color */
    /* Add more styling as needed */
  }

  .chatroom-list .adm-list-item {
    align-items: center;
  }
  
  .chatroom-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 7px;
    object-fit: cover;
  }