.main-page {
  margin-bottom: 70px;
}

.room-list {
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: scroll;
  margin: 20px 0;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.create-room-button {
  width: 300px;
  font-weight: 700;
}