#root {
  max-width: 375px;
  margin: 0 auto;
}

.bottom-container {
  z-index: 99;
  background-color: white;
  padding-top: 5px;
  width: 100%;
  max-width: 375px;
  position: absolute;
  bottom: 0;
  border-top: solid 1px var(--adm-color-border);
}

